body {
    font-family: Arial, sans-serif;
    margin: 20px;
    /*text-align: center;*/
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #3f84d7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1ab8db;
}

p {
    font-size: 18px;
    font-weight: bold;
}

span#result {
    font-size: 24px;
    color: #3f84d7;
}

img#resultImage {
    display: none;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
